<?xml version="1.0"?>
<model>
    <name>rplidar</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>your_name</name>
        <email>your_email@emailprovider.com</email>
    </author>

    <description>
        A simple testbed for multiple Pheenos (or robots).
    </description>
</model>
